body{
	font-family: "Times New Roman", "微软雅黑";
}
#main{
	height: 306px;
	width: 1000px;
	background-color: ;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.div1{
	height: 26px;
}
.div1.h1{
	font-size: 26px;
	float: left;
}
a.a1{
	float: right;
	margin-top 10px;
	margin-bottom: 10px;
	font-size: 15px;
}
.div2{
	margin-top: 10px;
	background-color: #eaf6f7;
	border-top: solid 3px gray;
	border-bottom: solid 3px gray;
	width: 1000px;
	height: 160px;
}
.pr1{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	height: 120px;
	width: 190px;
	float: left;
}
.h1{
	font-size: 25px;
}
.p1{
	font-size: 15px;
}
h2{
	margin-bottom:0;
}
h2 + p{
	margin-top:0;
}
.a2{
	float: left;
	font-size: 18px;
}
.i1{
	padding-left: 140px;
	display: inline;
}


.div3{
	margin-top: 10px;
	width: 1000px;
	height: 160px;
}
.pr2{
	float: left;
	width: 190px;
	padding-right: 20px;
}
.h2{
	font-size: 25px;
}
.p2{
	font-size: 15px;
}
.div3 h2{
	margin-bottom:0;
}
.div3 h2 + p{
	margin-top:0;
}
.a3{
	float: left;
	font-size: 18px;
}
.i2{
	display: inline;
	margin-left: 140px;
}